// 🎌 RESET ALL THE ANNOYING THINGS 🎌

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
ul, ol, dl{
  margin-left: 2rem;
  li{
    list-style-position: outside;
  }
}
div{
  display: block;
  width: 100%;
}
hr{
  border-top: 1px solid $vuegreen;
  border-bottom: 0px;
}